<html>

<head>
    <title>Add Person </title>
</head>

<body>
    <a href="/list/">H O M E</a>
    <br>
    <br>
    <form action="/list/saveEditedPerson" >
 
        ID :
        <input type="text" name="id" value="{{person.id}}"/>
        Name :
        <input type="text" name="name" value="{{person.name}}" />
        <br>
        <br> Address :
        <input type="text" name="add" value="{{person.add}}"/>
        <br>
        <br> Cell No. :
        <input type="text" name="cell" value="{{person.cell}}" />
        <br>
        <br>
   
        <input type="submit" value="submit">

    </form>

</body>

</html>